# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are sumarized

Some of the popular languages that Data Scientist use are:
1. Python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientist include:
1. ggplot
2. dplyr
3. Numpy

|Data Science Tools|
--------------------
|Rstudio|
|Anaconda|
|Visual Studio|

### Below are a few examples of evaluating arithmetic expressions in Python

(3*4)+5

This a simple arithmetic expression to multiply the add integers

In [4]:
(3*4)+5

17

200/60

This will convert 200 minutes to hours by diving by 60

In [5]:
200/60

3.3333333333333335

Objectives
+ Main languages in Data Science
+ Main libraries in Data Science
+ Arithmetics Expressions
+ Formules
+ Tables

## Author
Adnachiel Avenda√±o Chavez